[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "themes/mini-mod"]
	path = themes/mini-mod
	url = https://github.com/ezioleq/hugo-theme-mini-mod.git
